:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#cameras-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  /* min-height: 100vh; Defines the height of the scrollable area */
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll; /* Enables vertical scrolling when content overflows */
  overflow-x: hidden;
  align-items: center;
}

#cameras-container::-webkit-scrollbar {
  width: 8px;
}

#cameras-container::-webkit-scrollbar-track {
  background: transparent; /* Remove background from the track */
}

#cameras-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrolling badge */
  border-radius: 4px; /* Rounded corners for the badge */
}

#cameras-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the badge on hover */
}

/* For Firefox */
#cameras-container {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 transparent; /* thumb and track color */
}

.camera-view {
  width: 300px;
  height: 180px;
  background-color: #1a1a1a;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; /* Add this to prevent shrinking */
  overflow: hidden; /* Add this to ensure children respect border-radius */
}

.camera-view.add-view {
  background-color: rgba(0, 0, 0, 0.5);
}

#telemetry-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;

  font-size: 14px;
  z-index: 1000;
}
